---
import Layout from "../layouts/Layout.astro"
import Card from "../components/Card.astro"

import ImageBanner from "../components/ImageBanner"

// ** shad-cn components
import { Input } from "@/components/ui/input"
import { Button } from "@/components/ui/button"
---

<Layout title="Welcome to Astro.">
    <main>
        <div class="max-w-4xl">
            <h3>Get started for free</h3>
            <h1>Craft Your GitHub Profile: Stand Out with a Customized ReadMe Generator!</h1>
            <h3>"Unlock Your Online Presence with Dynamic GitHub Profile ReadMe Creations"</h3>
            <div class="flex w-full max-w-sm items-center space-x-2">
      <Input type="email" placeholder="Email" />
      <Button type="submit">Subscribe</Button>
    </div>
        </div>
        <ImageBanner client:load />
    </main>
</Layout>
